:root {
    font-size: 60%; /* controle das medidas rem */
    font-family: 'Baloo Tamma 2', cursive;
    width: 100%;
    top: 0;
    left: 0;
}

body {
    position: absolute;
    margin-left: calc((100% - 960px)/2);
    width: 960px; 
    background-image: url("../img/gradiente.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#img-logo{
position: relative;
width: 20.3em;
height: 25em;
left: calc((100% - 20.3em)/2);
top: 10px;
}

.inputs{
    position: relative;
    width: 500px;
    height: 40px;
    left: calc((100% - 500px)/2);
    font-size: 26px;
    text-align: center;
    box-shadow: 0px 1px 0px;
    background: none;
    color: #FFFFFF;
    border: 0 none;
    margin: 20px 0px 20px;
    outline: none;
}

.user_information{
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 500px;
    height: 16px;
    left: calc((100% - 500px)/2);
    
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.account{
    color: #E67E22;
}

#entry_bottom{
    position: relative;
    font-family: 'Baloo Tamma 2', cursive;
    width: 400px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    left: calc((100% - 400px)/2);
    color: #FFFFFF;
    background-color: #899CCD;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

#entry_bottom:hover {
    background-color: #E67E22;
}

/* #entry_bottom>a{
    text-decoration: none;
    color: #FFFFFF;
} */